.App {
  transition: background-color 0.3s;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Light {
  background-color: #fff;
  color: #000;
}

.App-Dark {
  background-color: #282c34;
  color: #fff;
}

button {
  cursor: pointer;
}

